<form action="~/Home/Search">
    <p>Search Movie by Title:</p>
    <input name="title" type="text" />

</form>

<form action="~/Home/MovieList">
    <p>Get  many movies by Title:</p>
    <input name="title" type="text" />

</form>